<div class="container" id="appendToThis">
    <div class="jumbotron">
        <h2>Example Rules</h2>
        <br>
        <p>
            <a href="https://bitbucket.org/noheDeveloper/smartrulesapi/wiki/Ejemplos%20de%20Json%20para%20crear%20reglas" target="_blank">Go to Wiki to copy examples</a>
        </p>
    </div>
    <div>
        <ul class="list-group" id="listExample">
            <li class="list-group-item"><span>validar edad</span></li>
            <li class="list-group-item">
                <pre><img src="img/Capture1.PNG" alt=""></pre>
            </li>
            <li class="list-group-item"><span>validar edad y las conecciones diarias a cajeros ATM no sean superiores a 4</span></li>
            <li class="list-group-item">
                <pre><img src="img/Capture2.PNG" alt=""></pre>
            </li>
        </ul>
    </div>
</div>