<div class="container" id="appendToThis">
    <div class="jumbotron">
        <h2>Send Hecho to run validations</h2>
        <br>
        <form onsubmit="validateRules(this)">
            <div class="form-group">
                <label for="Age">Age</label>
                <input type="number" id="Age" placeholder="Age" required>
            </div>
            <div class="form-group">
                <label for="numConn">Connections daily</label>
                <input type="number" id="numConn" placeholder="Connections daily" required>
            </div>
            <div class="form-group">
                <label for="Amount">Amount</label>
                <input type="number" id="Amount" placeholder="Amount" required>
            </div>
            <div class="form-group">
                <label for="Mode">Mode</label>
                <select id="Mode" class="form-control">
                    <option>ATM</option>
                    <option>Bank Teller</option>
                </select>
            </div>

            <input type="submit" value="Validation rules" class="btn btn-primary">
        </form>
    </div>
    <div>
        <p>
        <h2>Consequences: </h2>
        </p>
        <ul class="list-group" id="list">
        </ul>
    </div>
</div>
