<div class="container" id="appendToThis">
    <div class="jumbotron">
        <h2>List Rules</h2>
        <br>
        <form onsubmit="getById(this)" class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <label for="ruleId">Id</label>
                <input type="text" id="ruleId" placeholder="Id Rule" required>
            </div>
            <input type="submit" value="send" class="btn btn-primary">
        </form>
    </div>
    <div>
        <ul class="list-group" id="listRules">
        </ul>
    </div>
</div>