<div class="container" id="appendToThis">
    <div class="jumbotron">
        <h2>Create rules using Websocket</h2>
        <br>
        <form onsubmit="return addMessage(this)">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" placeholder="name Rule" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" id="description" placeholder="Description Rule" required>
            </div>
            <div class="form-group">
                <label for="code">Json Rule</label>
                <textarea class="form-control" id="code" rows="20" placeholder="Json Rule" required></textarea>
            </div>

            <input type="submit" value="send" class="btn btn-primary">
        </form>
        <button type="button" class="btn btn-danger" id="reset" onclick="resetRules();">Reset Rules</button>
    </div>
    <footer class="footer">
        <p>&copy; 2016 Company, Inc.</p>
        <cite>fuente: http://www.smartsoftint.com/esp/</cite>
    </footer>
</div>