<div class="container" id="appendToThis">
    <div class="jumbotron">
        <h2>Update rules using IdRule</h2>
        <br>
        <form onsubmit="return updateRule(this)">
            <div class="form-group">
                <label for="idRule">Id Rule</label>
                <input type="text" id="idRule" placeholder="id Rule" required>
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" placeholder="name Rule" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" id="description" placeholder="Description Rule" required>
            </div>
            <div class="form-group">
                <label for="code">Json Rule</label>
                <textarea class="form-control" id="code" rows="20" placeholder="Json Rule" required></textarea>
            </div>

            <input type="submit" value="send" class="btn btn-primary">
        </form>
    </div>
    <br>
    <ul class="list-group" id="resultUpdate">
    </ul>
    <footer class="footer">
        <p>&copy; 2016 Company, Inc.</p>
    </footer>
</div>